body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: lavender;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
header, footer {
  background-color: purple;
  color: lavenderblush;
  padding: 1em;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
nav li {
  margin: 0 10px;
}
nav a {
  color: violet;
  text-decoration: none;
}
form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
form input, form select, form button {
  margin: 10px 0;
  padding: 10px;
}
